<%= content_tag("h1", @array_design.accession, :class => "title") %>
<%= content_tag("h4", "This array_design is currently " +
	                 (@array_design.is_released.nil? ? '' :
                              @array_design.is_released? ?
                              '<font color="green">Public</font>' :
                              '<font color="red">Private</font>') +
			" (release date: " +
			      (@array_design.release_date ?
			      @array_design.release_date.strftime('%Y-%m-%d') :
                              "") + ")" ) %>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<table width="100%">
<tr>
  <%= content_tag("th", "Accession") %>
  <%= content_tag("td", @array_design.accession) %>
</tr>
<tr>
  <%= content_tag("th", "Species") %>
  <%= content_tag("td", @array_design.organisms.collect{ |o| o.scientific_name }.join(", ")) %>
</tr>
<tr>
  <%= content_tag("th", "Annotation Source") %>
  <%= content_tag("td", @array_design.annotation_source) %>
</tr>
<tr>
  <%= content_tag("th", "Annotation Version") %>
  <%= content_tag("td", @array_design.annotation_version) %>
</tr>
<tr>
  <%= content_tag("th", "BioMart Table Name") %>
  <%= content_tag("td", @array_design.biomart_table_name) %>
</tr>
</table>

<hr/>
	
<table width="100%">
<tr>
  <%= content_tag("th", " ", { :class => 'actionlist' } ) %>
  <%= content_tag("th", "Event") %>
  <%= content_tag("th", "Target DB") %>
  <%= content_tag("th", "Operator") %>
  <%= content_tag("th", "Start Time") %>
  <%= content_tag("th", "End Time") %>
  <%= content_tag("th", "Comment") %>
</tr>
<% for event in @array_design.events.sort_by{ |e| e.start_time || Time.local(0) } %>
  <tr>
    <td>
    <%= link_to "Edit", :controller      => "event",
	                :action          => "edit", 
                        :id              => event.id %>
    </td>
    <%= content_tag("td", "<font color='#{ (event.was_successful.nil? ? 'black' :
	  				    event.was_successful == 0 ? 'red' :
					    'green') }'>" + event.event_type + '</font>') %>
    <%= content_tag("td", event.target_db) %>
    <%= content_tag("td", event.operator) %>
    <%= content_tag("td", event.start_time) %>
    <%= content_tag("td", event.end_time) %>
    <%= content_tag("td", truncate(event.comment, 30)) %>
  </tr>
<% end %>
</table>

<p class="text"><font color="green">Green</font> events were
successful, while <font color="red">Red</font> events failed. Black
events are unfinished.</p>

<div>
  <% form_tag :action => "update", :id => @array_design.id do %>
<table>
  <tr>
    <%= content_tag("td", "Comment:") %>
    <%= content_tag("td", input("array_design", "comment")) %>
  </tr>
</table>
    <%= content_tag("p", submit_tag("Update")) %>
  <% end %>
</div>

<%= link_to 'Back', :action => 'list' %>
