<%= render_partial "title" %>

<div>
	<% form_tag do %>
	<%= content_tag("span", "Search on Accession or Comment (wildcards: *, ?): ") %>
	<%= text_field_tag("search_term", @search_term) %>
	<%= submit_tag("Search") %>
        <%= content_tag("span", "&nbsp;&nbsp;List all results on one page:") %>
        <%= check_box_tag("list_all", 1, params[:list_all] ) %>
	<% end %>
</div>

<div>
  <table>
    <tr>
      <%= content_tag("th", " ", { :class => 'actionlist' } ) %>
      <%= content_tag("th", "Accession") %>
      <%= content_tag("th", "Curated Name") %>
      <%= content_tag("th", "No. of Samples") %>
      <%= content_tag("th", "No. of Hybs") %>
      <%= content_tag("th", "Raw Data") %>
      <%= content_tag("th", "Processed Data") %>
      <%= content_tag("th", "AE MIAME Score") %>
      <%= content_tag("th", "AE DW Score") %>
      <%= content_tag("th", "Release Date") %>
      <%= content_tag("th", "Is Released") %>
      <%= content_tag("th", "Loaded in DW") %>
      <%= content_tag("th", "Comment") %>
    </tr>

    <% @experiments.each do |e| %>
      <tr>
	<td>
	<%= link_to "Details", :action          => "show", 
                               :id              => e.id,
			       :page            => params[:page],
	                       :search_term     => @search_term %>
        </td>
	<%= content_tag("td", e.accession) %>
	<%= content_tag("td", e.curated_name) %>
        <%= content_tag("td", e.num_samples) %>
	<%= content_tag("td", e.num_hybridizations) %>
	<%= content_tag("td", e.has_raw_data.nil? ? '' :
                              e.has_raw_data? ?
                              '<font color="green">YES</font>' :
                              '<font color="red">no</font>') %>
	<%= content_tag("td", e.has_processed_data.nil? ? '' :
                              e.has_processed_data? ?
                              '<font color="green">YES</font>' :
                              '<font color="red">no</font>') %>
	<%= content_tag("td", e.ae_miame_score) %>
	<%= content_tag("td", e.ae_data_warehouse_score) %>
	<%= content_tag("td", e.release_date ?
			      e.release_date.strftime('%Y-%m-%d') :
                              "") %>
	<%= content_tag("td", e.is_released.nil? ? '' :
                              e.is_released? ?
                              '<font color="green">PUBLIC</font>' :
                              '<font color="red">private</font>') %>
	<%= content_tag("td", e.in_data_warehouse?        ?
                              '<font color="green">YES</font>' :
                              '<font color="red">no</font>') %>
	<%= content_tag("td", truncate(e.comment, 30)) %>
      </tr> 
    <% end %>
  </table>

  <%= will_paginate @experiments, :class  => 'footer',
	                          :params => { :search_term => params[:search_term] }  %>

</div>
