<%= content_tag("h1", "Recently processed experiments (as of #{ @time_now.strftime("%Y-%m-%d") })", :class => "title") %>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<div>
  <table>
    <tr>
      <%= content_tag("th", " ", { :class => 'actionlist' } ) %>
      <%= content_tag("th", "Type") %>
      <%= content_tag("th", "Accession") %>
      <%= content_tag("th", "Directory") %>
      <%= content_tag("th", "Name") %>
      <%= content_tag("th", "Checker score") %>
      <%= content_tag("th", "MIAME score") %>
      <%= content_tag("th", "DW status") %>
      <%= content_tag("th", "Status") %>
      <%= content_tag("th", "Date last processed") %>
      <%= content_tag("th", "Curator") %>
      <%= content_tag("th", "Comment") %>
    </tr>

    <% @experiments.each do |e| %>
      <tr>
	<td>
	<%= link_to "Edit", :action          => "edit", 
                            :id              => e.id,
			    :page            => params[:page],
                            :experiment_type => params[:experiment_type],
	                    :search_term     => @search_term %>
        </td>
        <%= content_tag("td", e.experiment_type.to_s) %>
	<%= content_tag("td", e.accession) %>
	<%= content_tag("td", e.experiment_type == 'MIAMExpress' ? '' : e.experiment_type + '_' + e.id.to_s) %>
	<%= content_tag("td", e.name) %>
	<%= content_tag("td", e.checker_score) %>
	<%= content_tag("td", (e.miame_score.to_i.&(1).nonzero? ? 'R' : '') +
                              (e.miame_score.to_i.&(2).nonzero? ? 'N' : '') +
                              (e.miame_score.to_i.&(4).nonzero? ? 'F' : '') +
                              (e.miame_score.to_i.&(8).nonzero? ? 'P' : '') +
                              (e.miame_score.to_i.&(16).nonzero? ? 'A' : '')) %>
	<%= content_tag("td", e.in_data_warehouse?        ? '<font color="blue">Loaded</font>' :
                              e.data_warehouse_ready.nil? ? '' :
                              e.data_warehouse_ready.to_i.eql?(31) ? '<font color="green">YES</font>' :
			      e.data_warehouse_ready.to_i.eql?(30) ? '<font color="red">maybe</font>' :
                              '<font color="red">no</font>') %>
	<%= content_tag("td", e.status) %>
	<%= content_tag("td", e.date_last_processed ?
			e.date_last_processed.localtime.strftime('%Y-%m-%d %H:%M:%S') :
                        "") %>
	<%= content_tag("td", e.curator) %>
	<%= content_tag("td", truncate(e.comment, 100)) %>
      </tr> 
    <% end %>
  </table>

  <%= content_tag("p", "Note that all times are GMT.") %>

  <%= will_paginate @experiments, :class  => 'footer',
	                          :params => { :search_term => params[:search_term] }  %>

</div>
