      <!-- TMPL_IF NAME=SOME_ERRORS -->
      <p>There were some errors:</p>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_EXPERIMENT_NAME -->
      <!-- TMPL_VAR NAME=ERR_EXPERIMENT_NAME --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_BIOL_DESIGNS -->
      <!-- TMPL_VAR NAME=ERR_BIOL_DESIGNS --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_METH_DESIGNS -->
      <!-- TMPL_VAR NAME=ERR_METH_DESIGNS --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_TECH_DESIGNS -->
      <!-- TMPL_VAR NAME=ERR_TECH_DESIGNS --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_MATERIALS -->
      <!-- TMPL_VAR NAME=ERR_MATERIALS --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_ORGANISMS -->
      <!-- TMPL_VAR NAME=ERR_ORGANISMS --><br/>
      <!-- /TMPL_IF -->

      <table summary="experiment top-level info">
        <tr>
          <td>Name:</td>
          <td<!-- TMPL_IF NAME=ERR_EXPERIMENT_NAME --> class="fieldWithErrors"<!-- /TMPL_IF -->>
            <input type="text"
	           name="<!-- TMPL_VAR NAME=EXPT_NAME_PARAM -->"
		   size="40"
	           value="<!-- TMPL_VAR NAME=EXPT_NAME -->"/></td>
        </tr>
        <tr>
	  <td>Affymetrix experiment?</td>
	  <td>
	    <input type="checkbox"
	           name="<!-- TMPL_VAR NAME=AFFYMETRIX_PARAM -->"
	           <!-- TMPL_IF NAME=AFFYMETRIX -->
	           checked="checked"
	           <!-- /TMPL_IF --> />
	  </td>
	</tr>
      </table>

    <p class="text">If you wish to have a spreadsheet template to be
    constructed for you, please select one or more items from each of
    the following lists. Please note that you can omit this step if
    you have already created your own spreadsheet. Once you have
    entered the appropriate information, please click the button at
    the bottom of the page.</p>

  <div class="text">
    <div align="center">
      <table summary="experiment design annotation">
	<tr>
	  <th>
            <!-- TMPL_IF NAME=ERR_BIOL_DESIGNS -->
	      <span style="font-size: 150%; color: red;">*</span>
	    <!-- /TMPL_IF -->
	    Biological design:
	  </th>
	  <th>
            <!-- TMPL_IF NAME=ERR_METH_DESIGNS -->
	      <span style="font-size: 150%; color: red;">*</span>
	    <!-- /TMPL_IF -->
	    Methodology:
	  </th>
	  <th>
            <!-- TMPL_IF NAME=ERR_TECH_DESIGNS -->
	      <span style="font-size: 150%; color: red;">*</span>
	    <!-- /TMPL_IF -->
	    Technology used:
	  </th>
	</tr>
        <tr>
	<td>
	<select name="biol_designs" size="10" multiple="multiple">
	<!-- TMPL_LOOP NAME=BIOL_DESIGNS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected="selected"<!-- /TMPL_IF -->
	      value="<!-- TMPL_VAR NAME=ID -->">
	      <!-- TMPL_VAR NAME=NAME -->
	    </option>
	<!-- /TMPL_LOOP -->
	</select>
	</td><td>
	<select name="meth_designs" size="10" multiple="multiple">
	<!-- TMPL_LOOP NAME=METH_DESIGNS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected="selected"<!-- /TMPL_IF -->
	      value="<!-- TMPL_VAR NAME=ID -->">
	      <!-- TMPL_VAR NAME=NAME -->
	    </option>
	<!-- /TMPL_LOOP -->
	</select>
	</td><td>
	<select name="tech_designs" size="10" multiple="multiple">
	<!-- TMPL_LOOP NAME=TECH_DESIGNS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected="selected"<!-- /TMPL_IF -->
	      value="<!-- TMPL_VAR NAME=ID -->">
	      <!-- TMPL_VAR NAME=NAME -->
	    </option>
	<!-- /TMPL_LOOP -->
	</select>
	</td>
	</tr>
	  <tr>
	    <td align="center">
	      <a href="http://mged.sourceforge.net/ontologies/MGEDontology.php#BiologicalProperty"
		 target="content">MGED Ontology link</a>
	    </td>
	    <td align="center">
	      <a href="http://mged.sourceforge.net/ontologies/MGEDontology.php#MethodologicalDesign"
		 target="content">MGED Ontology link</a>
	    </td>
	    <td align="center">
	      <a href="http://mged.sourceforge.net/ontologies/MGEDontology.php#TechnologicalDesign"
		 target="content">MGED Ontology link</a>
	    </td>
	  </tr>
      </table>
    </div>
    <div align="center">
      <table summary="materials and species annotation">
	<tr>
	  <th>
            <!-- TMPL_IF NAME=ERR_MATERIALS -->
	      <span style="font-size: 150%; color: red;">*</span>
	    <!-- /TMPL_IF -->
	    Materials used:
	  </th>
	  <th>
            <!-- TMPL_IF NAME=ERR_ORGANISMS -->
	      <span style="font-size: 150%; color: red;">*</span>
            <!-- /TMPL_IF -->
	    Organisms used:
	  </th>
	</tr>
	<tr>
	<td>
	<select name="materials" size="10" multiple="multiple">
	<!-- TMPL_LOOP NAME=MATERIALS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected="selected"<!-- /TMPL_IF -->
	      value="<!-- TMPL_VAR NAME=ID -->">
	      <!-- TMPL_VAR NAME=NAME -->
	    </option>
	<!-- /TMPL_LOOP -->
	</select>
	</td>
	<td>
	<select name="organisms" size="10" multiple="multiple">
	<!-- TMPL_LOOP NAME=ORGANISMS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected="selected"<!-- /TMPL_IF -->
	      value="<!-- TMPL_VAR NAME=ID -->">
	      <!-- TMPL_VAR NAME=NAME -->
	    </option>
	<!-- /TMPL_LOOP -->
	</select>
	</td>
        </tr>
	  <tr>
	    <td align="center">
	      <a href="http://mged.sourceforge.net/ontologies/MGEDontology.php#MaterialType"
		 target="content">MGED Ontology link</a>
	    </td>
	    <td align="center">
	      <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/taxonomyhome.html/"
		 target="content">NCBI Taxonomy link</a>
	    </td>
	  </tr>
      </table>
	
	<p class="text">If your organism is not listed, please <a
	href="mailto:<!-- TMPL_VAR NAME=CURATOR_EMAIL -->?subject=Add New Species (<!-- TMPL_VAR NAME=EXPT_TYPE -->)"> contact us</a>.
	  Note that you may still upload
	files without using this template generation tool, by leaving
	all the selection boxes blank.</p>

    </div>
  </div>
