        <!-- TMPL_IF NAME=AFFYMETRIX --><p>This is an Affymetrix experiment.</p><!-- /TMPL_IF -->

	<table summary="annotation list">
          <tr>
            <td>Experiment designs:</td>
            <td>
              <!-- TMPL_LOOP NAME=DESIGNS -->
	        <!-- TMPL_VAR NAME=NAME --><br/>
   	      <!-- /TMPL_LOOP -->
            </td>
          </tr>
          <tr>
            <td>Materials used:</td>
            <td>
 	      <!-- TMPL_LOOP NAME=MATERIALS -->
	        <!-- TMPL_VAR NAME=NAME --><br/>
	      <!-- /TMPL_LOOP -->
	    </td>
          </tr>
          <tr>
            <td>Species studied:</td>
            <td>
	      <!-- TMPL_LOOP NAME=ORGANISMS -->
	        <!-- TMPL_VAR NAME=NAME --><br/>
	      <!-- /TMPL_LOOP -->
	    </td>
          </tr>
        </table>
