<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Please select the experiment to edit from the
    following list, or create a new submission:</p>

    <!-- TMPL_IF NAME=SOME_ERRORS -->
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME=ERR_EXPERIMENT -->
    <p class="text"><!-- TMPL_VAR NAME=ERR_EXPERIMENT --></p>
    <!-- /TMPL_IF -->

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
    <div>
      <select name="experiment" size="5">
	<!-- TMPL_LOOP NAME=EXPERIMENTS -->
	  <option value="<!-- TMPL_VAR NAME=ID -->"><!-- TMPL_VAR NAME=NAME --></option>
	<!-- /TMPL_LOOP -->
      </select>
    </div>
    <br/>
      <div class="navbar">
	<input type="submit" name="<!-- TMPL_VAR NAME=RM -->"
	  value="<!-- TMPL_VAR NAME=CREATE -->"/>
	<input type="submit" name="<!-- TMPL_VAR NAME=RM -->"
	  value="<!-- TMPL_VAR NAME=EDIT -->"/>
	<input type="submit" name="<!-- TMPL_VAR NAME=RM -->"
	  value="<!-- TMPL_VAR NAME=UPLOAD -->"/>
	<input type="submit" name="<!-- TMPL_VAR NAME=RM -->"
	  value="<!-- TMPL_VAR NAME=DELETE -->"/>
      </div>
      <div>
	<p>Previously submitted experiments:</p>
	<table summary="previous experiments list">
	  <tr>
	    <th>Experiment name</th>
	    <th>Submission date</th>
	  </tr>
	<!-- TMPL_LOOP NAME=SUBMITTED -->
	  <tr>
	    <td><!-- TMPL_VAR NAME=NAME --></td>
	    <td><!-- TMPL_VAR NAME=DATE --></td>
	  </tr>
	<!-- /TMPL_LOOP -->
	</table>
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
