<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Your account has been successfully created:</p>

    <table summary="user details">
      <tr><td>Real name:</td><td><!-- TMPL_VAR NAME=REAL --></td></tr>
      <tr><td>Username:</td><td><!-- TMPL_VAR NAME=USER --></td></tr>
      <tr><td>Password:</td><td><!-- TMPL_VAR NAME=PASS --></td></tr>
      <tr><td>Email:</td><td><!-- TMPL_VAR NAME=EMAIL --></td></tr>
    </table>

    <p class="text">Please now continue to the experiment creation page:</p>
  
    <div class="navbar">
    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
      <input type="hidden"
	     name="<!-- TMPL_VAR NAME=USERNAME -->"
	     value="<!-- TMPL_VAR NAME=USER -->"/>
      <input type="hidden"
	     name="<!-- TMPL_VAR NAME=PASSWORD -->"
	     value="<!-- TMPL_VAR NAME=PASS -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=CHOOSE -->"
	     class="button" />
    </form>
    </div>
<!-- TMPL_INCLUDE FOOTER -->
