<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Please enter some summary information for your
    experiment here.</p>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
	<!-- TMPL_INCLUDE NAME="_annotate.html" -->
    <div class="navbar">
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=INSERT -->"/>
    </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
