<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Successfully deleted experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->"</p>

    <div class="navbar">
    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
          <input type="submit"
	         name="<!-- TMPL_VAR NAME=RM -->"
	         value="<!-- TMPL_VAR NAME=CHOOSE -->"
	         class="button" />
    </form>
    </div>
<!-- TMPL_INCLUDE FOOTER -->
