<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Editing experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->"</p>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
      <input type="hidden" name="experiment" value="<!-- TMPL_VAR NAME=EXPT_ID -->"/>
	<!-- TMPL_INCLUDE NAME="_annotate.html" -->
      <div class="navbar">
      <input type="submit" name="<!-- TMPL_VAR NAME=RM -->"
      value="<!-- TMPL_VAR NAME=UPDATE -->"/>
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
