<!-- TMPL_INCLUDE HEADER -->
    <h1>An internal error has occurred:</h1>

    <p class="text"><!-- TMPL_VAR NAME=MESSAGE --></p>

    <p class="text">Please report this error to <!-- TMPL_VAR
    NAME=CURATOR_EMAIL -->. You may use the button below to return to
    the submission forms:</p>
    
    <form method="post"
	  action="<!-- TMPL_VAR NAME=CGI_BASE -->"
	  enctype="multipart/form-data">

      <div class="navbar">
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=RETURN -->"
	     class="button" />
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
