<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">The following files have been successfully
    uploaded for your experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->"</p>

      <!-- TMPL_IF NAME=SOME_ERRORS -->
      <p>There were some errors:</p>
      <!-- /TMPL_IF -->

    <form method="post"
	  action="<!-- TMPL_VAR NAME=CGI_BASE -->"
	  enctype="multipart/form-data">
      <table summary="file upload summary">
	<tr>
	  <th>
	    Spreadsheet
	  </th>
	  <td>
	    <!-- TMPL_LOOP NAME=SHEETS_LOADED -->
	      <!-- TMPL_VAR NAME=NAME --><br/>
            <!-- /TMPL_LOOP -->
	  </td>
	</tr>
        <tr>
	  <th>
	    Data file archives
	  </th>
	  <td>
	    <!-- TMPL_LOOP NAME=FILES_LOADED -->
	      <!-- TMPL_VAR NAME=NAME --><br/>
            <!-- /TMPL_LOOP -->
	  </td>
        </tr>
      </table>

      <div class="navbar">
      <input type="hidden"
	     name="experiment"
	     value="<!-- TMPL_VAR NAME=EXPT_ID -->"/>
      <input type="hidden"
	     name="<!-- TMPL_VAR NAME=DATA_FILE -->"
	     value="<!-- TMPL_VAR NAME=FILES_OK -->"/>
      <input type="hidden"
	     name="<!-- TMPL_VAR NAME=SPREADSHEET -->"
	     value="<!-- TMPL_VAR NAME=SHEETS_OK -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=UPLOAD -->"
	     class="button" />
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=SUBMIT -->"
	     onclick="return confirm('Are you sure? You will be unable to make further changes.');"
	     class="button" />
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=CHOOSE -->"
	     class="button" />
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
