<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Successfully created experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->".</p>

    <!-- TMPL_INCLUDE NAME="_display.html" -->

<!-- TMPL_INCLUDE FOOTER -->
