<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
      <p class="text">Please enter your username and password in the fields below:</p>

      <!-- TMPL_IF NAME=FAILED -->
      <p class="error">Error: login failed. Please check your username and password.</p>
      <!-- /TMPL_IF -->

      <table summary="login form">
	<tr>
	  <td>Username</td>
	  <td>
	    <input id="authen_loginfield"
	           tabindex="1"
	           type="text"
	           name="<!-- TMPL_VAR NAME=USERNAME -->"
	           size="30"
	           value="" />
	  </td>
	</tr>
	<tr>
	  <td>Password</td>
	  <td>
	    <input id="authen_passwordfield"
	           tabindex="2"
	           type="password"
	           name="<!-- TMPL_VAR NAME=PASSWORD -->"
	           size="30" />
	  </td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>
	    <div class="buttons">
	      <input type="hidden"
		     name="<!-- TMPL_VAR NAME=RM -->"
		     value="<!-- TMPL_VAR NAME=LOGIN -->" />
	      <input type="submit"
		     tabindex="3"
		     name="login"
		     value="Log in"
		     class="button" />
	      <input type="reset"
		     tabindex="4"
		     name="resetlogin"
		     value="Reset"
		     class="button" />
	    </div>
	  </td>
	</tr>
      </table>
    </form>
    <p class="text">If you do not yet have a username and password, please sign up using this link:</p>
    <div class="navbar" align="center">
    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
          <input type="submit"
	         tabindex="5"
	         name="<!-- TMPL_VAR NAME=RM -->"
	         value="<!-- TMPL_VAR NAME=SIGNUP -->"
	         class="button" />
    </form>
    </div>
<!-- TMPL_INCLUDE FOOTER -->
