<!-- TMPL_INCLUDE HEADER -->
    <h2>You have successfully logged out.</h2>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">

      <div class="navbar">
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=LOGIN -->"/>
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
