<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Uploading files for your experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->"</p>

    <p class="text">Please upload the following:</p>

    <ul class="text">
      <li>One completed plain-text spreadsheet file containing your
      experiment annotation (IDF and SDRF)</li>

      <li>One or more zipped (.zip) or tar-gzipped (.tar.gz, .tgz)
      archives containing all your data files.</li>
    </ul>

    <p class="text">Note: if you wish to upload your IDF and SDRF
    files as separate documents, please upload your SDRF in the same
    package as your data files.</p>

    <p class="text">See the online <a
    href="http://tab2mage.sourceforge.net/docs/magetab_docs.html">MAGE-TAB
    documentation</a> for help on filling out your spreadsheet. Please
    also see these <a
    href="http://tab2mage.sourceforge.net/examples/magetab/real/">real-world
    example spreadsheets</a> for tips on specific
    experiment types.</p>

    <p class="text">Supported data file formats are described in the <a
    href="http://tab2mage.sourceforge.net/docs/datafiles.html">Tab2MAGE
    help notes</a>.</p>

    <p class="text">Please note that uploading a file with the same
    name as a previously uploaded file will overwrite the old file
    with the new one.</p>

    <p class="text">To replace a previously uploaded spreadsheet,
    simply upload a new one using the form below. This will substitute
    your new spreadsheet for the old one.</p>

    <p class="text">You may upload your data files in as many separate
    compressed archives as are needed; the form below adds new data
    file uploads without replacing the old files (unless they are
    named the same).</p>

    <p class="text">Once you have uploaded these files you will be
    able to finalize your submission.</p>

      <!-- TMPL_IF NAME=SOME_ERRORS -->
      <p>There were some errors:</p>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_EXPERIMENT -->
      <!-- TMPL_VAR NAME=ERR_EXPERIMENT --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_UPLOAD_FILES -->
      <!-- TMPL_VAR NAME=ERR_UPLOAD_FILES --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_SPREADSHEET -->
      <!-- TMPL_VAR NAME=ERR_SPREADSHEET --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_DATA_FILE -->
      <!-- TMPL_VAR NAME=ERR_DATA_FILE --><br/>
      <!-- /TMPL_IF -->

    <form method="post"
	  name="upload"
	  action="<!-- TMPL_VAR NAME=CGI_BASE -->"
	  enctype="multipart/form-data">
      <table summary="file upload form">
	<tr>
	  <th>
	    Upload type
	  </th>
	  <th>
	    Select file
	  </th>
	  <th>
	    Files already uploaded
	  </th>
	</tr>
        <tr>
	  <td>
	    Upload/replace spreadsheet or IDF:
	  </td>
	  <td>
            <input type="file"
		   name="<!-- TMPL_VAR NAME=SPREADSHEET -->" />
	  </td>
	  <td>
	    <!-- TMPL_LOOP NAME=SHEETS_LOADED -->
	      <!-- TMPL_VAR NAME=NAME --><br/>
            <!-- /TMPL_LOOP -->
	  </td>
	</tr>
        <tr>
	  <td>
	    Upload/add Data file archive (with SDRF if used):
	  </td>
	  <td>
	    <input type="file"
		   name="<!-- TMPL_VAR NAME=DATA_FILE -->" />
	  </td>
	  <td>
	    <!-- TMPL_LOOP NAME=FILES_LOADED -->
	      <!-- TMPL_VAR NAME=NAME --><br/>
            <!-- /TMPL_LOOP -->
	  </td>
        </tr>
        <tr>
	  <td>
	    &nbsp;
	  </td>
	  <td>Click here to upload the selected files:
            <input type="submit"
		   name="<!-- TMPL_VAR NAME=RM -->"
		   value="<!-- TMPL_VAR NAME=FILE_UPLOAD -->"
		   class="button"
		   <!-- TMPL_IF NAME=SHEETS_LOADED -->
  		     onclick="if (document.upload.<!-- TMPL_VAR NAME=SPREADSHEET -->.value) {return confirm('Really overwrite previously uploaded spreadsheet?');}"
                   <!-- /TMPL_IF -->
	    />
	  </td>
	  <td>
	    &nbsp;
	  </td>
	</tr>
      </table>

	<p class="text">If you are not yet ready to upload files,
	please use the link below to return to the experiment
	listing.</p>
	
      <div class="navbar">
      <input type="hidden"
	     name="experiment"
	     value="<!-- TMPL_VAR NAME=EXPT_ID -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=CHOOSE -->"
	     class="button" />
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=SUBMIT -->"
	     onclick="return confirm('Are you sure? You will be unable to make further changes.');"
	     class="button" />
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
