<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Welcome to the <!-- TMPL_VAR NAME=EXPT_TYPE -->
    submissions system. This web page will allow you to submit your
    data files with experimental annotation entered in a MAGE-TAB
    document. Please see our <a
    href="http://tab2mage.sourceforge.net/docs/magetab_subs.html">MAGE-TAB
    submission help notes</a> to get you started. If you wish, you may
    use this web page to generate a template document which you can
    download and complete on your computer. Alternatively, if you are
    an experienced user of MAGE-TAB, you may create your own document
    using the <a
    href="http://tab2mage.sourceforge.net/docs/magetab_docs.html">MAGE-TAB
    documentation</a>.</p>

    <p class="text">Note that if you wish to submit your data using
    our simpler <a
    href="http://tab2mage.sourceforge.net/docs/spreadsheet.html">Tab2MAGE
    format</a>, you should use our <a
    href="http://www.ebi.ac.uk/cgi-bin/microarray/tab2mage.cgi">Tab2MAGE
    submissions web page</a>.</p>

    <p class="text">Login to start a submission and generate a
    template. Please use the "New submitter" link on this page if you
    need to create a new account.</p>

    <p class="text">Full help documentation is available using the links to
    the side of this page.</p>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">

      <div class="navbar">
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=LOGIN -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=SIGNUP -->"/>
      </div>
    </form>
<!-- TMPL_INCLUDE FOOTER -->
