<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <p class="text">Template successfully generated for experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->".</p>

    <p class="text">Please download your spreadsheet template file
    here (right-click or control-click to save directly to disk):</p>

    <h3 class="text">
    <a href="<!-- TMPL_VAR NAME=SS_LINK -->" target="<!-- TMPL_VAR NAME=SS_LINK -->">Spreadsheet template</a>
    </h3>

    <p class="text">Note that template files are only stored on this server for 24 hours.</p>

    <p class="text">See the online <a
    href="http://tab2mage.sourceforge.net/docs/magetab_docs.html">MAGE-TAB
    documentation</a> for help on filling out your template
    spreadsheet. Please also see these <a
    href="http://tab2mage.sourceforge.net/docs/magetab_subs.html#realexamples">real-world
    example spreadsheets</a> for tips on specific
    experiment types.</p>

    <div class="navbar">
    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
      <input type="hidden"
	     name="experiment"
	     value="<!-- TMPL_VAR NAME=EXPT_ID -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=UPLOAD -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
             value="<!-- TMPL_VAR NAME=CHOOSE -->"/>
    </form>
    </div>

<!-- TMPL_INCLUDE FOOTER -->
