<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

    <form method="post" action="<!-- TMPL_VAR NAME=CGI_BASE -->" enctype="multipart/form-data">
      <p class="text">Please complete all the following fields:</p>

      <!-- TMPL_IF NAME=SOME_ERRORS -->
      <p>There were some errors:</p>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_USERNAME -->
      <!-- TMPL_VAR NAME=ERR_USERNAME --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_PASSWORD -->
      <!-- TMPL_VAR NAME=ERR_PASSWORD --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_REALNAME -->
      <!-- TMPL_VAR NAME=ERR_REALNAME --><br/>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME=ERR_EMAIL -->
      <!-- TMPL_VAR NAME=ERR_EMAIL --><br/>
      <!-- /TMPL_IF -->

      <p class="text">N.B. both username and password must be 6 to 10
      characters long.</p>

      <table summary="user details entry">
	<tr>
	  <td>Name</td>
	  <td<!-- TMPL_IF NAME=ERR_REALNAME --> class="fieldWithErrors"<!-- /TMPL_IF -->>
	    <input id="authen_namefield"
	           type="text"
	           name="<!-- TMPL_VAR NAME=REALNAME -->"
	           size="30"
	           value=""/>
	  </td>
	</tr>
	<tr>
	  <td>Desired username</td>
	  <td<!-- TMPL_IF NAME=ERR_USERNAME --> class="fieldWithErrors"<!-- /TMPL_IF -->>
	    <input id="authen_loginfield"
	           type="text"
	           name="<!-- TMPL_VAR NAME=USERNAME -->"
	           size="30"
	           value=""/></td>
	</tr>
	<tr>
	  <td>Password</td>
	  <td<!-- TMPL_IF NAME=ERR_PASSWORD --> class="fieldWithErrors"<!-- /TMPL_IF -->>
	    <input id="authen_passwordfield"
	           type="password"
	           name="<!-- TMPL_VAR NAME=PASSWORD -->"
	           size="30"/></td>
	</tr>
	<tr>
	  <td>Confirm password</td>
	  <td<!-- TMPL_IF NAME=ERR_PASSWORD --> class="fieldWithErrors"<!-- /TMPL_IF -->>
	    <input id="authen_passwordfield2"
	           type="password"
	           name="<!-- TMPL_VAR NAME=PASSWORD2 -->"
	           size="30"/></td>
	</tr>
	<tr>
	  <td>Email address</td>
	  <td<!-- TMPL_IF NAME=ERR_EMAIL --> class="fieldWithErrors"<!-- /TMPL_IF -->>
	    <input id="authen_email"
	           type="text"
	           name="<!-- TMPL_VAR NAME=EMAIL -->"
	           size="30"/></td>
	</tr>
      </table>
      <div class="navbar">
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=CREATEUSER -->"
	     class="button"/>
      </div>
    </form>
<!-- TMPL_INCLUDE FOOTER -->
