<!-- TMPL_INCLUDE HEADER -->
    <h1><!-- TMPL_VAR NAME=TITLE --></h1>

      <!-- TMPL_IF NAME=SOME_ERRORS -->
      <p>There were some errors:</p>

      <!-- TMPL_ELSE -->

    <p class="text">The experiment "<!-- TMPL_VAR NAME=EXPT_NAME -->"
    was successfully submitted. The ArrayExpress curators will contact
    you shortly regarding your submission. In the meantime, please
    contact <a href="mailto:<!-- TMPL_VAR NAME=CURATOR_EMAIL -->">
      <!-- TMPL_VAR NAME=CURATOR_EMAIL --></a> with any questions.</p>

      <!-- /TMPL_IF -->

    <form method="post"
	  action="<!-- TMPL_VAR NAME=CGI_BASE -->"
	  enctype="multipart/form-data">

      <div class="navbar">
      <input type="hidden"
	     name="experiment"
	     value="<!-- TMPL_VAR NAME=EXPT_ID -->"/>
      <input type="submit"
	     name="<!-- TMPL_VAR NAME=RM -->"
	     value="<!-- TMPL_VAR NAME=CHOOSE -->"
	     class="button" />
      </div>

    </form>
<!-- TMPL_INCLUDE FOOTER -->
