body {
  font-size: 14pt;
  margin-left: 1em; 
  margin-right: 1em;
  width: 860px;
  font-family: verdana, ariel, helvetica, sans-serif;
  line-height: 140%;
  background-color: #ceddff;
}

pre {
  font-size: 10pt;
  background: #dedede;
  font-family: monospace;
  padding: 2pt;
  padding-left: 10pt;
  margin-left: 2.5%; 
  margin-right: 2.5%;  
  border: 1px solid #bcbcbc;
}

tt { 
  font-size: 100%;
  font-weight: bold;
  color: #333388;
}

td {
  border: solid 1px #acacac;
}

th {
  border: solid 1px #acacac;
}

ul {
  text-align: left;
  line-height: 140%;
}

ol {
  text-align: left;
  line-height: 140%;
}

em {
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

th { 
  text-align: left;
}

a.plain { 
  text-decoration: none; 
}

.text {
  text-align: justify;
}

.imghead {
  text-align: right;
}

.section {
}

.whitetitle {
  font-weight: normal; 
  font-size: 150%; 
  text-decoration:none; 
/*  color: #ffffff; */
/*  background-color: #0000a0; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #0000a0;
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
}

.pagetitle {
  font-size: 150%; 
  font-weight: bold; 
  color: #0000a0;
  padding: 7px;
  border-bottom: solid 1px #0000a0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
}

.layout {
  border: none; 
  width: 100%;
  margin-left: auto; 
  margin-right: auto;
}

.example {
  font-size: 10pt;
  background: #dedede;
  font-family: monospace;
  border: solid; 
  border-width: thin; 
  margin-left: auto; 
  margin-right: auto;  
}

.leftexample {
  font-size: 10pt;
  background: #dedede;
  font-family: monospace;
  border: solid; 
  border-width: thin; 
}

.information {
  background: #eeeeee;
  border: none;
  border-width: thin;
  margin-left: auto; 
  margin-right: auto;    
}

.sectionhead {
  border: 1px solid #0000A0;
  background: #c0c0c0;
  color: #0000A0; 
  padding: 7px; 
  text-align: left;
  font-size: 140%;
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
}

.sectionfoot {
  text-align:right;
}

.subhead {
  text-align: left; 
  font-weight: bold;
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
  font-size: 120%;
}

.picture {
  display:block;
  margin-left: auto; 
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
}

.faqheading {
  font-weight: bold;
  font-size: 130%;
}

h1 {  
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
  font-size: 150%;
}

h2 {  
  font-family: "gill sans", verdana, ariel, helvetica, sans-serif;
  font-size: 120%;
}
