body {
  font-size: 12px;
  font-family: verdana, geneva, arial, helvetica, sans-serif;
  color: #111;
  background-color: #ffffff;
}

input {
  border-color: #b9cfd8;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  padding: 4px 6px;
  cursor: default;
}

.sidebar-title { 
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  font-size: 150%;
  padding: 4px 6px;
  background-color: #ffffff;
}

.page-title { 
  font-size: 120%;
}

td { 
  background-color: #eeeeee;
  padding: 4px;
}

th { 
  background-color: #dddddd;
  padding: 4px;
}

.text {
  width: 40em;
  text-align: justify;  
}

.navbar {
  width: 30em;
  padding: 4px;
}

.fieldWithErrors {
  padding: 0px;
  background-color: red;
  display: table;
}

/* Set up the sidebar */
div.link-list {
  width:15%;
  position:absolute;
  top:0;
  bottom:0;
  font-size:100%;
  padding-left:1%;
  padding-right:1%;
  padding-top:1%;
  background-color: #eeeeee;
}

#main {
  margin-left:15%;
  padding-left:3%;
}

#sidebar {
  left:0;
  text-align: center;
  line-height: 150%;
}

.notice {
  font-size: 90%;
  color: blue;
}

:link {
  color: #3333aa;
}

:visited {
  color: #7700aa;
}